{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>RecipeApp | Recipes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type='text/css' href="{% static 'recipes/css/styles.css' %}">
</head>

<body>

  <div class="recipe_grid">
    {% for object in object_list %} {% comment%} now go through the list element-by-element {% endcomment%}
    <div class="grid_item">
      <h4><a class="recipe_name" href="{{object.get_absolute_url}}"> {% comment%} add links to recipe names {%
          endcomment%}
          {{object.name}} </a> {% comment%} print the name of recipe {% endcomment%} </h4>
      <div style="margin-bottom: 10px;">
        <b>Name: </b> {{object.name}} <br>
        <b>Cooking Time: </b> {{object.cooking_time}} <br>
        <b>Difficulty: </b> {{object.calculate_difficulty}} <br>
      </div>
      <img class="food_images" src="{{object.pic.url}}" /> {% comment%} display the picture of recipe {% endcomment%}
    </div>
    {% endfor %}
  </div>
</body>

</html>