{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
    <style type="text/css">
      img {
        border-radius: 15px;
      }

      h1,
      h3 {
        font-family: "Frank Ruhl Libre' ,Georgia, serif";
        color: rgb(221, 96, 13);
      }
    </style>
  </head>

  <body class="body" style="margin-top: 25vh">
    <img
      src="{% static 'recipes/images/recipe_home.jpg' %}"
      width="500px"
      height="250px"
    />
    <h1>Welcome to the Recipe App</h1>
    <a class="login_btn" href="{%url 'login' %}"> Login </a>
  </body>
</html>
