{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
  </head>

  <body class="body">
    <h1 style="text-align: center; margin: 10vh">Login</h1>
      {% if error_message %}
         {{error_message}} 
      {% endif %}
    <form action="" method="POST" class="form_data" style="text-align: center">
      {% csrf_token %}
       {{form}}
      <button type="submit" class="login_btn" style="margin: 10px">
        Login
      </button>
    </form>
  </body>
</html>
